<div class="col-12 d-flex justify-content-center">
  <div class="col-11">
    <p><b>Create instance for class:</b> {{activeClass}}</p>
    <p><b>Available constructors:</b></p>

    <ul>
      <li class="constructor" *ngFor="let classConstructorView of classConstructorsViews"
        (click)="setActiveConstrucor(classConstructorView.value ,classConstructorView.paramsTypesNames)">
        <h5>{{classConstructorView.value}}</h5>
      </li>
    </ul>

    <p *ngIf="selectedConstructorSignature !== ''"><b>Selected: {{selectedConstructorSignature}}</b></p>

    <form #formRef="ngForm" (ngSubmit)="onCreateInstance(formRef)">

      <div *ngFor="let activeConstructorParam of activeConstructorParams; let i = index" class="form-group mt-3">
        <label>{{activeConstructorParam}}</label>

        <div *ngIf="isStandardType(activeConstructorParam); then defaultInput else select"></div>

        <ng-template #defaultInput>
          <input type={{getFieldType(activeConstructorParam)}}
            [ngClass]="!isBoolean(activeConstructorParam) ? 'form-control': 'm-2'" name='{{"param" +  (i + 1)}}' ngModel
            (change)="onCheckboxChange('param' + (i + 1))" required>
        </ng-template>

        <ng-template #select>
          <select class="form-select" name='{{"param" +  (i + 1)}}' ngModel required
            (click)="changeInstanceFormFieldNames('param' +  (i + 1))">
            <option *ngFor="let instance of autocomplateViewsByClassName.get(activeConstructorParam)"
              value='{{instance.objectInstanceId}}'>
              {{instance.toStringValue + ' [' +  instance.objectInstanceId +']'}}</option>
          </select>
        </ng-template>

      </div>

      <button type="submit" class="btn btn-secondary mt-3">Create instance</button>

    </form>

  </div>
</div>
