<div class="container h-100">
  <div class="row min-vh-100">
    <div class="col-3 min-h-100 border border-left p-0">
      <app-available-classes></app-available-classes>
    </div>
    <div class="col-6 min-h-100 border border-left border-right p-0">
      <app-main-content></app-main-content>
    </div>
    <div class="col-3 min-h-100 border border-right p-0">
      <app-object-instances></app-object-instances>
    </div>
  </div>
</div>
