<div class="col-12">
  <h2 class="text-center mt-2">Classes configuration</h2>
  <hr>


  <div class="col-12 d-flex justify-content-center">
    <div class="col-11">
      <form #formRef="ngForm" (ngSubmit)="onAddNewClass(formRef)">
        <div class="form-group">
          <label>Class name (with package):</label>
          <input type="text" class="form-control" name='className' ngModel required>
        </div>

        <button type="submit" class="btn btn-secondary mt-1">Add class</button>
      </form>
    </div>
  </div>

  <hr>
  <h5 class="text-center mt-2">Classes filtering</h5>

  <div class="col-12 d-flex justify-content-center">
    <div class="col-11">
      <div *ngFor="let classConfiguration of classesConfiguration" class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [checked]="classConfiguration.active"
          (click)="onConfigurationChange(classConfiguration)">
        <label
          class="form-check-label">{{classConfiguration.className.split('.')[classConfiguration.className.split('.').length-1]}}</label>
      </div>
    </div>
  </div>
</div>
