<h2 class="text-center mt-2">Available classes</h2>
<hr>
<div class="col-12">
  <ul>
    <li *ngFor="let availabaleClass of availableClasses" (click)="loadCreateInsance(availabaleClass)"
      class="available-class">
      <h5>{{availabaleClass.split('.')[availabaleClass.split('.').length - 1]}}</h5>
    </li>
  </ul>
  <hr>

  <app-classes-configuration></app-classes-configuration>

</div>
