<h2 class="text-center mt-2">Object Instances</h2>
<hr>

<div class="col-12 d-flex justify-content-center">

  <div class="col-11">
    <ul class="list-group mb-4">
      <li *ngFor="let objectInstance of objectInstances" class="list-group-item object-instance-preview mt-3"
        (click)="preview(objectInstance)">
        <b>ID:</b> {{objectInstance.id}} <br>
        <b>Class:</b> {{objectInstance.className.split('.')[objectInstance.className.split('.').length -1]}} <br>
      </li>
    </ul>
  </div>

</div>
