<div class="col-12 d-flex justify-content-center">
  <div class="col-11">
    <p><b>Object instance ID:</b> {{objectInstance.id}}</p>
    <p><b>Class name:</b> {{objectInstance.className}}</p>
    <div class="col-sm-12 mb-4">
      <textarea [disabled]="true" class="form-control" rows="10">{{objectInstance.stringRepresentation}}</textarea>
    </div>

    <p><b>Feilds of instance:</b></p>

    <ul>
      <li class="invocable-element" *ngFor="let instanceFieldView of instanceFieldsViews"
        (click)="setActiveField(instanceFieldView)">
        <h5>
          {{instanceFieldView.modifier + ' ' + instanceFieldView.simpleType + ' ' + instanceFieldView.name + ' = ' + instanceFieldView.value}}
        </h5>
      </li>
    </ul>

    <div *ngIf="selectedFieldSignature !== ''">

      <p><b>Selected: {{selectedFieldSignature}}</b></p>

      <form #formRef="ngForm" (ngSubmit)="onFieldSet(formRef)">

        <label>{{activeFieldParam}}</label>
        <div *ngIf="isStandardType(activeFieldParam); then defaultInput else select"></div>

        <ng-template #defaultInput>
          <input type={{getFieldType(activeFieldParam)}}
            [ngClass]="!isBoolean(activeFieldParam) ? 'form-control': 'm-2'" name='{{selectedFieldName}}' ngModel
            (change)="onCheckboxChange(selectedFieldName)" required
            [checked]="isFieldBooleanTypeChecked.get(selectedFieldName)">
        </ng-template>

        <ng-template #select>
          <select class="form-select" name='{{selectedFieldName}}' ngModel required
            (click)="changeInstanceFormFieldNames(activeFieldParam)">
            <option *ngFor="let instance of autocomplateViewsByClassName.get(activeFieldParam)"
              value='{{instance.objectInstanceId}}'>
              {{instance.toStringValue + ' [' +  instance.objectInstanceId +']'}}</option>
          </select>
        </ng-template>

        <button type="submit" class="btn btn-secondary mt-3 mb-3">Set field</button>

      </form>
    </div>


    <p><b>Available methods:</b></p>

    <ul>
      <li class="invocable-element" *ngFor="let classMethodView of classMethodsViews"
        (click)="setActiveMethod(classMethodView)">
        <h5>{{classMethodView.value}}</h5>
      </li>
    </ul>


    <div *ngIf="selectedMethodSignature !== ''">

      <p><b>Selected: {{selectedMethodSignature}}</b></p>

      <form #formRef="ngForm" (ngSubmit)="onInvokeMethod(formRef)">

        <div *ngFor="let activeMethodParam of activeMethodParams; let i = index" class="form-group mt-3">
          <label>{{activeMethodParam}}</label>


          <div *ngIf="isStandardType(activeMethodParam); then defaultInput else select"></div>

          <ng-template #defaultInput>
            <input type={{getFieldType(activeMethodParam)}} class="form-control" name='{{"param" +  (i + 1)}}' ngModel
              required>
          </ng-template>

          <ng-template #select>
            <select class="form-select" name='{{"param" +  (i + 1)}}' ngModel required
              (click)="changeInstanceFormFieldNames('param' +  (i + 1))">
              <option *ngFor="let instance of getForAutocomplete(activeMethodParam)"
                value='{{instance.objectInstanceId}}'>
                {{instance.toStringValue + ' [' +  instance.objectInstanceId +']'}}</option>
            </select>
          </ng-template>
        </div>

        <button type="submit" class="btn btn-secondary mt-3 mb-4">Invoke method</button>
      </form>
    </div>

  </div>
</div>
